{% extends 'bigs_cars/base.html' %}
{% load static %}
{%  block content %}

 <div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'bigs_cars/favicon.ico' %}" alt="">
            </a>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'cars' %}" target="_blank">Каталог Авто</a></li>
            <li><a href="https://автосалоны-россии.рф/" target="_blank">Автосалоны</a></li>
            <li><a href="{% static 'bigs_cars/resume.pdf' %}" target="_blank">Автосервис</a></li>
            <li><a href="{% static 'bigs_cars/resume.pdf' %}" target="_blank">Советы</a></li>
            <li><a href="{% static 'bigs_cars/resume.pdf' %}" target="_blank">Чат</a></li>
        </ul>
    </div>
</div>
<h1 id="title">Большие дороги для Больших машин</h1>

<div class="img">
    <img src="{% static 'bigs_cars/maxresdefault.jpg' %}" alt="">
</div>
<ul>
    <li><a href="https://yandex.ru/video/preview/2013323291148266231">Тест-драйв FORD F-350</a></li>
    <li><a href="https://yandex.ru/video/preview/14520783908999823722">Тест-драйв УАЗ Хантер </a></li>
    <li><a href="https://yandex.ru/video/preview/2491694692340624626">Тест-драйв Chevrolet Tahoe</a></li>
    <li><a href="https://yandex.ru/video/preview/14837268310400350551">Тест-драйв Jeep Wrangler 392 Rubicon</a></li>
    <li><a href="https://www.youtube.com/watch?v=iuvZ9AO2DMs">Тест-драйв volkswagen touareg</a></li>
</ul>

{%  endblock %}